a {
  text-decoration: none;
  color: inherit;
}

a:link {

}

a:visited {

}

html, body {
  overflow-x: hidden; /* stop scrolling */
}

body {
  position: relative; /* necessary for stopping scrolling */
  margin: 0px 8px;
}

.no-highlights {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /*-webkit-touch-callout: none;*/
  /*-webkit-user-select: none;*/
  /*-khtml-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}

.pause-animation {
  animation-play-state:paused;
}

.aligncenter {
  display: block;
  margin-top: 0 px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.header-container {
  display: block;
  margin-top: 0 px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 420px;
}

.header-seperator {
  font-family: 'Lato', sans-serif;
  font-weight: Bold;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 4px 4px 7px 4px;
  text-align: center;
  color: white;
  /*background: hsl(0deg 83% 61%); */
  background: hsl(212deg 72% 54%);
  border-radius: 0px 0px 3px 3px;
}

@media (min-width: 600px) {
  .header-container {
    max-width: 730px;
  }

  .header-seperator {
    max-width: 730px;
    font-size: 27px;
    padding: 4px 4px 8px 4px;
  }
}

.post-container {
  box-sizing: border-box;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 420px;
  padding: 0px 20px;
}

.post-header {
  text-align: center;
  font-size: 30px;
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: 500;
  margin: 20px 0px 0px 0px;
}

.post-subheader {
  text-align: center;
  font-size: 17px;
  font-family: Times, Helvetica, sans-serif;
  font-weight: 100;
  font-style: italic;
  /* font-weight: 500; */
  margin-top: 3px;
  margin-bottom: 24px;
  max-width: 300px;
}

@media (min-width: 600px) {
  .post-subheader {
    font-size: 21px;
    max-width: 430px;
  margin-top: 0px;
  }
}

.section-header {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 20px 0px 10px -1px;
}

.ptext {
  color: black;
  margin: 0 0 20px;
  /* line-height: 1.55; */
  line-height: 26px;
  font-size: 16px;
  font-family: Georgia, Helvetica, sans-serif;
  text-align: justify;
  hyphens: auto;
}

.ptext.beforefig {
  margin: 0 0 15px;
}

.figlabel {
  text-align: center;
  color: black;
  font-size: 12px;
  font-family: Georgia, Helvetica, sans-serif;
  font-style: italic;
  margin: 8px auto 20px auto;
  font-weight: 300;
}

@media (min-width: 600px) {
  .post-container {
    max-width: 730px;
    padding: 0px 30px;
  }

  .post-header {
    max-width: 730px;
    font-size: 45px;
    margin: 25px 0px 5px -1px;
  }

  .section-header {
    font-size: 37px;
    margin: 25px 0px 12px -1px;
  }

  .ptext {
    font-size: 19px;
    margin: 0 0 25px;
    line-height: 31px;
  }

  .ptext.beforefig {
    margin: 0 0 10px;
  }

  .figlabel {
    font-size: 18px;
    margin: 11px auto 24px auto;
  }
}

.drop-cap {
  font-size: 140%;
  padding-right: 1px;
}

.yellow-indicator {
  border-bottom: 2px solid #ffe155;
}

.green-indicator {
  border-bottom: 2px solid #83cf86;
}


/* VIDEO PLAYER */
.video-container {
  position: relative;
  margin: 0 auto;

  width: 85%;
}

.vid-hit-container {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

}

.vid-hit-l {
  height: 100%;
  width: 30%;
}

.vid-hit-c {
  height: 100%;
  width: 40%;
}

.vid-hit-r {
  height: 100%;
  width: 30%;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0px 0px;
}


/* VIDEO CONTROLS */
.controls-container {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 31px;

  border-radius: 0px 0px 4px 4px;
  background: hsla(215, 11%, 56%, .12);
}

.controls-ui-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.controls-hit-container {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

}

.controls-hit-l {
  /* flex-grow: 1; */

  height: 100%;
  width: 70px;
}

.controls-hit-c {
  height: 100%;
  width: 90px;
}

.controls-hit-r {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  height: 100%;
  width: 100px;
}

.controls-hit-rl {
  height: 100%;
  width: 50%;
}
.controls-hit-rr {
  height: 100%;
  width: 50%;
}

.controls-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  /*background: black;*/
  width: 60px;
  height: 30px;
  margin-left: 10px;
}

.controls-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*background: black;*/
  width: 60px;
  height: 30px;
}

.controls-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /*background: black;*/
  width: 80px;
  height: 30px;
  margin-right: 10px;
}

.controls-restart {
  /*background: #454545;*/
  width: 20px;
  height: 20px;
}

.controls-play {
  /*background: #454545;*/
  width: 20px;
  height: 20px;
}

.controls-prev-kf {
  /*background: #454545;*/
  width: 10px;
  height: 20px;
}

.controls-next-kf {
  /*background: #454545;*/
  width: 10px;
  height: 20px;
}

.controls-frame-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 20px;

  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
}


/*****************/
/* Home          */
/*****************/

.home-container {
  box-sizing: border-box;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 420px;
  padding: 0px 24px;
}

.topics-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  margin: 10px 0px 0px 0px;
}

.topics-topic {
  font-family: 'Lato', sans-serif;
  /* font-family: Georgia, Helvetica, sans-serif; */
  color: #403F3F;

  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 30px 0px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}

.topics-topic-selected {
  font-weight: bold;
  border-bottom: 2px solid black;
  color: black;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  margin: 10px 0px 0px 0px;

  margin: 20px 0px;
  font-size: 16px;
  font-family: Georgia, Helvetica, sans-serif;
}

.contact-container {
  margin: 20px 0px;
  font-size: 16px;
  font-family: Georgia, Helvetica, sans-serif;
}

.postlist-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.postlist-postitem {
  position: relative;
  width: 100%;
}

.postlist-itemhitbox {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(100% - 20px);
  margin-top: 20px;
}

.postlist-title {
  font-size: 26px;
  font-family: Georgia, Helvetica, sans-serif;
  margin: 20px 0px 0px 0px;
}

.postlist-elapsed {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #403F3F;
  font-weight: 400;
  margin: 0px 0px 10px 1px;
}

.postlist-description {
  font-size: 16px;
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px 0px 20px 1px;
}

.postlist-divider {
  width: 100%;
  height: 0px;
  border-bottom: 1px solid hsla(215, 64%, 56%, .40);
  align-self: center;
}

@media (min-width: 600px) {
  .home-container {
    max-width: 730px;
  }
}

#posts-topic {
  min-width: 50px;
}

#about-topic {
  min-width: 57px;
}

#contact-topic {
  min-width: 71px;
}


/*****************/
/* SLIDES */
/*****************/

.slides-cont {
  position: relative;

  width: 100%;
  height: 100%;
}

.slides-button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

/*****************/
/* SlidesViewer */
/*****************/

.slidesviewer {
  position: relative;
  margin: 0 auto;
  user-select: none;
  width: 85%;
}

.slidesviewer img {
  max-width: 100%;
  /*max-height: 100%;*/
}

.slidesviewer .overlay-hit {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.slidesviewer .overlay-hit .hit-l {
  height: 100%;
  width: 30%;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.slidesviewer .overlay-hit .hit-c {
  height: 100%;
  width: 40%;
}

.slidesviewer .overlay-hit .hit-r {
  height: 100%;
  width: 30%;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.slidesviewer-controls {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 31px;

  /* element and descendants unselectable */
  user-select: none;

  border-radius: 0px 0px 4px 4px;
  /* background: #aaaaaa; */
  /* background: hsla(215, 11%, 56%, .12); */

  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  */
}

.slidesviewer-controls .track-bar {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 12%;
  /* background: #454545; */
  background: #dbdee1;
  border-radius: 6px;
  margin-top: 13px;

  /* Disable drag on mobile*/
   touch-action: none;
   cursor: pointer;
}

.slidesviewer-controls .slider {
  position: absolute;
  z-index: 1;

  width: 80px;
  height: 30px;
  /* background: hsla(215, 11%, 56%, .12); */
  background: #f0f1f3;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Disable drag on mobile*/
   touch-action: none;
   cursor: pointer;
}

.slidesviewer-controls .slider .arrow {
  width: 10px;
  height: 20px;
}

.slidesviewer-controls .slider .arrow.left {
  padding-left: 5px;
}

.slidesviewer-controls .slider .arrow.right {
  padding-right: 5px;
}

.slidesviewer-controls .slider .progress {
  width: 50px;
  height: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*****************/
/* Animation test
/*****************/

@keyframes scaleDown {
    0% {
        transform: scale(1.00);
    }
    15% {
        transform: scale(0.80);
    }
    35% {
        transform: scale(1.00);
    }
    100% {
        transform: scale(1.00);
    }
}

@keyframes clickFade {
    0% {
        opacity: 0.0;
        animation-timing-function: step-end;
    }
    12% {
        opacity: 1.0;
    }
    25% {
        animation-timing-function: step-end;
        opacity: 0.0;
    }
    100% {
        opacity: 0.0;
    }
}

@keyframes bgClick {
    0% {
        background: lightgray;
        animation-timing-function: step-end;
    }
    12% {
        background: gray;
    }
    25% {
        background: lightgray;
        animation-timing-function: step-end;
    }
    100% {
        background: lightgray;
    }
}

.indicator-container {
  width: 40px;
  height: 40px;
  padding: 5px;
  /*padding: 50px 10px;*/
  background: #f0f1f3;
  border-radius: 100%;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .indicator-container {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin-top: 40px;
  }
}


.click-next-anim {
  position: relative;
  height: 40px;
  width: 40px;
}

@media (min-width: 600px) {
  .click-next-anim {
    height: 60px;
    width: 60px;
  }
}


.click-next-anim .pointer-frame {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.click-next-anim .pointer {
  height: 80%;
  width: 80%;
  /*background: black;*/

  animation-name: scaleDown;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.click-next-anim .click-frame {
  position: absolute;
  width: 100%;
  height: 100%;
}

.click-next-anim .click {
  position: relative;

  left: 15%;
  height: 50%;
  width: 50%;
  /*background: red;*/

  animation-name: clickFade;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite; /* defaults to 1 */
}

@media (min-width: 600px) {
  .click-next-anim .click {
    left: 10.5%;
  }
}

.next-text {
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: #454545;
  font-family: 'Lato', sans-serif;
  /*background: red;*/
}

@media (min-width: 600px) {
  .next-text {
    height: 20px;
    font-size: 15px;
  }
}



/*****************/
/* GENERIC (High priority) */
/*****************/

.hidden {
  display: none;
}

